*{
    margin:0;
    padding:0;
}

body{
    font-family:'inter',sans-serif;
    overflow-x:hidden;

}

.container{
    max-width:1320px;
    width:100%;
    margin:0 auto;
}

/* Header nav */
.header{
    height:92px;
    width:100%;
}

.nav_container{
    background-color: #FFF;
    display:flex;
    justify-content:space-between;
    align-items: center;
    padding: 0px 120px;

}

nav a{
    text-decoration: none;
    color:#000000;
}

.list_items {
    list-style: none;
    display:flex;
    gap:32px;
    
}

.nav_button button{
    width:164px;
    height:44px;
    background-color: #469165;
    color: #FFF;
    border-radius: 4px;
    border: none;
    outline:none;
   
}

button:hover{
    cursor: pointer;
}

/* hero side */

.hero{
    height:100vh;
    width:100%;
    background-image: url("../assets/hero-bg.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display:flex;
    justify-content: center;
    align-items: center;

}

.hero_content{
    text-align: center;
    max-width: 1320px;
}

.badge{
    display: flex;
    align-items: center;
    justify-content: center;
    width:229px;
    height:30px;
    color:#469165;
    border-radius: 50px;
    background-color: #fff;
    padding:8px 8px 12px;
    margin: 0 auto 16px auto;
    gap:6px;
}

.dot{
    width:8px;
    height:8px;
    background:#30B868;
    border-radius:50%;
}
.hero_content h1{
    color:#FFF;
    font-size: 72px;
    font-weight: bold;
   
}

.hero_content .lower{
    color:#30B868;
}

.hero_content p{
    padding-top: 16px;
    color:#fff;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    opacity: 100%;
    
}

.hero_content button{
    margin-top: 32px;
    margin-right: 16px;
}

.left_btn{
    width:251px;
    height:52px;
    color:#fff;
    border:none;
    outline:none;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 600px;
    background-color: #469165;
}


.right_btn{
    width:198px;
    height:52px;
    background-color: transparent;
    border:1px solid white;
    border-radius: 4px;
    color:#fff;
    font-size: 16px;
    font-weight: 600px;
}

/* below_hero */

.below_hero{
    display:flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;

}

.below_hero_components h2{
    font-size: 48px;
    font-weight: bold;
}

.below_hero_components p{
    font-size: 16px;
    opacity:100%;
    color: #627382;
    padding-top: 16px;
}


/* card part */
.card{
    display:flex;
    justify-content: center;
    align-items: center;
    gap:16px;
    margin-top: 44px;
    padding: 0px 120px;
}
.card_img{
    height:30px;
    width:30px;
    background-color: #F95555;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px;
}

.card_components{
    height:300px;
    width:322px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.1);

}

.card_components h1{
    font-size: 24px;
    font-weight: 600px;
    padding-top: 16px;
}

.card_components p{
    padding-top: 16px;
    font-size: 16px;
    color:#627382;
    font-weight: 400px;
}


/* brain part */
.brain{
    margin-top: 120px;
    padding: 0px 120px;   
}

.brain_img img{
    height:600px;
    width:600px;
}
.brain_components{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:60px;

}

#sol_line{
    font-size: 16px;
    color:#469165;
    font-weight: 500px;
}

.brain_components h1{
    font-size: 48px;
    font-weight: bold;
}

.brain_components p{
    font-size: 16px;
    color:#627382;
    padding-top: 12px;
}

.brain_components ul{
    list-style: none;
    padding-top: 40px;
}

.brain_components ul li{
    padding-bottom: 16px;
    font-size: 16px;
    color: #001931;
    font-weight: 500px;
}

/* ready to think part */
.Ready_think_part{
    margin-top: 120px;
    padding: 0px 120px;

}

.ready_think_components{
    max-width: 1320px;
    margin: 0 auto;
    background-color: #F7F6F2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    text-align: center;
}

.ready_think_components h1{
    padding-top: 80px;
    font-size: 40px;
    font-weight: bold;
    color: #001931;
}

.ready_think_components p{
    padding-top: 16px;
    font-size: 16px;
    color:#627382;
    font-weight: 400px;
}

.ready_think_components button{
    height:52px;
    width:194px;
    background-color: #469165;
    color:#fff;
    border:none;
    outline:none;
    border-radius: 4px;
    margin-top: 24px;
    font-size: 16px;
}

#lower{
    padding-bottom: 80px;
}

/* footer */

.footer{
    background-color: #001931;
    margin-top: 120px;
    padding:120px 120px 30px 120px;
}

.footer_content{
    display:flex;
    justify-content: space-between;
    align-items: center;
    color:#fff;

}

.social_links {
    list-style: none;
    display:flex;
    gap:16px;
    padding-top: 16px;

}

.social_links a {
  color: white;       
  text-decoration: none;
}
.footer_right p{
    font-size: 20px;
}

.footer_line{
    height:1px;
    background:#E5E7EB;
    margin:40px 0px;
}
.copy_right{
    text-align: center;
    color:#FAFAFA;
    font-size: 16px;
   
}

